docs/agents/make/03-learning-loop.json
{
    "name": "Agent Team — Learning Loop",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {"maxResults": 1},
            "metadata": {
                "designer": {"x": 0, "y": 0},
                "restore": {},
                "parameters": [
                    {"name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true},
                    {"name": "maxResults", "type": "number", "label": "Maximum number of results"}
                ]
            }
        },
        {
            "id": 2,
            "module": "util:GetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {"name": "_replace_with", "value": "GitHub → Get a Pull Request (owner=Spookybro55, repo=autosmartweby, number={{1.pull_request.number}})"}
                ]
            },
            "metadata": {
                "designer": {"x": 300, "y": 0},
                "restore": {}
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "post",
                "headers": [
                    {"name": "x-api-key", "value": "PASTE_ANTHROPIC_API_KEY_AFTER_IMPORT"},
                    {"name": "anthropic-version", "value": "2023-06-01"},
                    {"name": "content-type", "value": "application/json"}
                ],
                "contentType": "application/json",
                "bodyType": "raw",
                "data": "{\"model\":\"claude-sonnet-4-6\",\"max_tokens\":1500,\"system\":\"Analyze a merged PR diff (Autosmartweby — Czech CRM, Apps Script + Next.js). Extract: PATTERN (reusable approach), GOTCHA (non-obvious pitfall), REGRESSION (risk note). 1-3 sentences each. Reference file paths and finding IDs (SEC-013, FF-020). Return JSON {pattern, gotcha, regression, references}. Use null for missing.\",\"messages\":[{\"role\":\"user\",\"content\":\"PR #{{1.pull_request.number}}: {{1.pull_request.title}}\"}]}",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "useNumberAsString": false,
                "useMtls": false
            },
            "metadata": {
                "designer": {"x": 600, "y": 0}
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {"orphans": []},
        "zone": "eu2.make.com",
        "notes": [
            {
                "moduleIds": [1],
                "content": "<p><strong>Module 1 — Webhooks → Custom webhook</strong> (REAL). After import: open module config → Create a webhook → save. Make assigns unique URL → copy to GitHub repo Settings → Webhooks → Add (Payload URL = Make webhook, Content-type = application/json, Events = Pull requests).</p>",
                "isFilterNote": false
            },
            {
                "moduleIds": [2],
                "content": "<p><strong>Module 2 — REPLACE with GitHub → Get a Pull Request.</strong> Returns full PR metadata.</p>",
                "isFilterNote": false
            },
            {
                "moduleIds": [3],
                "content": "<p><strong>Module 3 — HTTP fallback for Anthropic API</strong> (REAL). Replace 'PASTE_ANTHROPIC_API_KEY_AFTER_IMPORT' header value with key from <code>~/.config/anthropic/api-key</code>. <strong>Never commit the real key.</strong></p>",
                "isFilterNote": false
            },
            {
                "moduleIds": [],
                "content": "<p><strong>Trigger:</strong> webhook (instant=true). <strong>Cost:</strong> ~$0.05/PR. <strong>Ops/měs:</strong> ~60. After import, Sebastián adds Tools → Parse JSON + 3× GitHub → Update file (PATTERNS / GOTCHAS / REGRESSION-LOG) per IMPORT-GUIDE.md.</p>",
                "isFilterNote": false
            }
        ]
    }
}
