docs/agents/make/04-backpressure-check.json
{
    "name": "Agent Team — Backpressure Check",
    "flow": [
        {
            "id": 1,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.github.com/repos/Spookybro55/autosmartweby/pulls?state=open&per_page=100",
                "method": "get",
                "headers": [
                    {"name": "Authorization", "value": "Bearer TODO_GITHUB_TOKEN"},
                    {"name": "Accept", "value": "application/vnd.github+json"},
                    {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "useNumberAsString": false,
                "useMtls": false
            },
            "metadata": {
                "designer": {"x": 0, "y": 0}
            }
        },
        {
            "id": 2,
            "module": "builtin:NumericAggregator",
            "version": 1,
            "parameters": {},
            "mapper": {
                "value": "1",
                "fn": "count"
            },
            "metadata": {
                "designer": {"x": 300, "y": 0}
            },
            "filter": {
                "name": "Agent branches only",
                "conditions": [
                    [
                        {"a": "{{1.head.ref}}", "o": "text:startswith", "b": "agent/"}
                    ],
                    [
                        {"a": "{{1.head.ref}}", "o": "text:startswith", "b": "agent-team/"}
                    ]
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "metadata": {
                "designer": {"x": 600, "y": 0}
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://ntfy.sh/TODO_NTFY_TOPIC",
                                "method": "post",
                                "headers": [
                                    {"name": "Title", "value": "Agent backpressure ⚠"},
                                    {"name": "Tags", "value": "warning,no_entry"},
                                    {"name": "Priority", "value": "urgent"},
                                    {"name": "Click", "value": "https://github.com/Spookybro55/autosmartweby/pulls?q=is%3Aopen+head%3Aagent%2F"}
                                ],
                                "contentType": "text/plain",
                                "bodyType": "raw",
                                "data": "{{2.result}} agent PRs unmerged (≥ 5 = master plan §5 stop condition).\n\n1. Edit docs/agents/QUEUE.md → status PAUSED\n2. Triage open PRs\n3. Flip status → ACTIVE after drain\n\nhttps://github.com/Spookybro55/autosmartweby/pulls?q=is%3Aopen+head%3Aagent%2F",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "useNumberAsString": false,
                                "useMtls": false
                            },
                            "metadata": {
                                "designer": {"x": 900, "y": 0}
                            },
                            "filter": {
                                "name": "Threshold ≥ 5",
                                "conditions": [
                                    [
                                        {"a": "{{2.result}}", "o": "number:greaterorequal", "b": "5"}
                                    ]
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {"orphans": []},
        "zone": "eu2.make.com",
        "notes": []
    },
    "_setup_notes": {
        "github_token": "Replace TODO_GITHUB_TOKEN in module 1 Authorization header.",
        "ntfy_topic": "Replace TODO_NTFY_TOPIC in module 4 mapper.url.",
        "schedule": "After import, in Make UI: cron 0 * * * * Europe/Prague (hourly).",
        "threshold": "Backpressure threshold = 5 (master plan §5). Adjust in route filter conditions[0][0].b if needed."
    }
}
