docs/agents/make/05-weekly-digest.json
{
    "name": "Agent Team — Weekly Digest",
    "flow": [
        {
            "id": 1,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.github.com/repos/Spookybro55/autosmartweby/pulls?state=closed&per_page=100&sort=updated&direction=desc",
                "method": "get",
                "headers": [
                    {"name": "Authorization", "value": "Bearer TODO_GITHUB_TOKEN"},
                    {"name": "Accept", "value": "application/vnd.github+json"},
                    {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "useNumberAsString": false,
                "useMtls": false
            },
            "metadata": {
                "designer": {"x": 0, "y": 0}
            }
        },
        {
            "id": 2,
            "module": "builtin:ArrayAggregator",
            "version": 1,
            "parameters": {},
            "mapper": {
                "value": "{{get(split(1.head.ref; \"/\"); 2)}}"
            },
            "metadata": {
                "designer": {"x": 300, "y": 0}
            },
            "filter": {
                "name": "Merged agent PRs (past 7 days)",
                "conditions": [
                    [
                        {"a": "{{1.merged_at}}", "o": "text:notequal", "b": ""},
                        {"a": "{{1.head.ref}}", "o": "text:startswith", "b": "agent/"},
                        {"a": "{{addDays(1.merged_at, 7)}}", "o": "date:greater", "b": "{{now}}"}
                    ],
                    [
                        {"a": "{{1.merged_at}}", "o": "text:notequal", "b": ""},
                        {"a": "{{1.head.ref}}", "o": "text:startswith", "b": "agent-team/"},
                        {"a": "{{addDays(1.merged_at, 7)}}", "o": "date:greater", "b": "{{now}}"}
                    ]
                ]
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://ntfy.sh/TODO_NTFY_TOPIC",
                "method": "post",
                "headers": [
                    {"name": "Title", "value": "Agent Team — Weekly Digest"},
                    {"name": "Tags", "value": "bar_chart,calendar"},
                    {"name": "Priority", "value": "default"}
                ],
                "contentType": "text/plain",
                "bodyType": "raw",
                "data": "Past 7 days: {{length(2.array)}} agent PRs merged.\n\nBy role (head.ref segment): {{join(2.array; \", \")}}\n\nBacklog: https://github.com/Spookybro55/autosmartweby/pulls\nQueue: https://github.com/Spookybro55/autosmartweby/blob/main/docs/agents/QUEUE.md\nCost: https://console.anthropic.com/settings/usage",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "useNumberAsString": false,
                "useMtls": false
            },
            "metadata": {
                "designer": {"x": 600, "y": 0}
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {"orphans": []},
        "zone": "eu2.make.com",
        "notes": []
    },
    "_setup_notes": {
        "github_token": "Replace TODO_GITHUB_TOKEN in module 1 Authorization header.",
        "ntfy_topic": "Replace TODO_NTFY_TOPIC in module 3 mapper.url.",
        "schedule": "After import, in Make UI: cron 0 9 * * 1 Europe/Prague (Monday 09:00).",
        "role_extraction": "Module 2 extracts role from head.ref of pattern 'agent/{role}/{task-id}' via split(...)[2]. For 'agent-team/{phase}' branches the second segment is the phase name (e.g. 'phase-2-roles-and-automation'); rendered as-is in the digest body."
    }
}
